body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar{
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 20px;
  width: 100%;
  height: 25px;
  justify-content: space-between;
  align-items: center;
  background-color: #02070e;
  opacity: 0.9;
}

.brand{
  margin-right: 100px;
  margin-left: 25px;
  font-size: 25px;
  color: #00d4ff;
}

.nav_options>span{
  margin-right: 30px;
  color: #fff;
  cursor: pointer;
}
.nav_options>span:hover{
  color: #00d4ff;
}
.main{
  display: flex;
  background: rgb(3, 0, 61);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(3, 186, 223) 100%); 
  border-bottom: 1px solid rgb(26, 72, 102);
}
.left{
  flex: 0.22;
  display: flex;
  flex-direction: column;
}
.right{
  flex: 0.78;
  border-left: 1px solid rgb(26, 72, 102);
}
.item{
  color: rgb(200, 200, 200);
  padding: 10px;
  margin-left: 10px;
  align-items: center;
  cursor: pointer;
}
.item:hover{
  background-color: rgb(23, 36, 88);
  color: #fff;
}
.item>span{
  margin-left: 5px;
  font-family: monospace;
}
hr{
  width: 90%;
}
.music_col{
  margin-top: 20px;
  font-family: sans-serif;
}
.music_col>span{
  color: #fff;
  padding: 20px;
  margin-top: 20px;
  font-size: 25px;
  font-weight: 600;
}
.music_cards{
  display: flex;
}
.card{
  margin: 20px;
  height: 240px;
  width: 190px;
  padding: 15px;
  border-radius: 5px;
  color: #fff;
  background-color: rgba(6, 17, 63, 0.698);
  
}
.card:hover{
  background-color: rgb(26, 30, 65);
}
.card>img{
  width: 190px;
  height: 170px;
  border-radius: 5px;
  cursor: pointer;
}
.container>span{
  margin-top: 10px;
  font-weight: 600;
}
.container>p{
  color: rgb(200, 200, 200);
  font-size: 13px;
}
.footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(3, 0, 61);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(3, 186, 223) 100%);
  padding: 30px;  
}

.hd{
  color: #fff;
  color: #00d4ff;
  letter-spacing: 0.01em;
  font-size: 30px;
  margin-bottom: 20px;
}
.content{
  color: #ececec;
  font-size: 25px;
  font-family: cursive;
  letter-spacing: 0.03em;
}
.joinBtn{
  padding: 15px 30px;
  cursor: pointer;
  font-size: 20px;
  border: none;
  border: 1px solid #00d4ff;
  border-radius: 25px;
}
.joinBtn:hover{
  background: #00d4ff;
}
